<script src="responsivevoice.js"></script>
<script src="jquery-3.1.1.js"></script>
<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->

<select id="voiceselection"><option>US English Female</option></select> <br><br>

<input 
  onclick="play()" 
  type="button" value="Play" 
/>

<input 
  onclick="responsiveVoice.cancel();" 
  type="button" value="Cancel" 
/>

<input 
  onclick="responsiveVoice.pause();" 
  type="button" value="Pause" 
/>

<input 
  onclick="responsiveVoice.resume();" 
  type="button" value="Resume" 
/><br><br>

<textarea id="text" cols="150" rows="50"></textarea><br>

<script type="text/javascript">
    
        function play(){
            responsiveVoice.speak($('#text').val(),$('#voiceselection').val());
        }
    
        //Populate voice selection dropdown
        var voicelist = responsiveVoice.getVoices();
        var vselect = $("#voiceselection");
        $.each(voicelist, function() {
                vselect.append($("<option />").val(this.name).text(this.name));
        });
</script>